<template>
  <div>
    <Navbar />
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
          <h3>أضافة مادة جديدة</h3>
          <div class="row">
            <div class="col-md-3 item product-card" v-for="(item,index) in levels" :key="index">
              <nuxt-link :to="'/systems/' + item.id + '/levels'">
                <CardItem :item="item" />
              </nuxt-link>
              <div class="pro-btns" slot="action-buttons">
                <button>
                  <i class="fas fa-trash-alt"></i>
                  حذف
                </button>
                <button>
                  <i class="fas fa-edit"></i> تعديل
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";
import CardItem from "@/components/CardItem";

export default {
  components: {
    Navbar,
    CardItem
  },
  data() {
    return {
      levels: null
    };
  },
  created() {
    this.$axios
      .get(`systems/${this.$route.params.id}/levels`)
      .then(res => {
        this.levels = res.data;
      })
      .catch(err => {
        // this.isLoading = false;
        // this.$snotify.error(`عفوا من فضلك تاكد من اسم المستخدم وكلمة المرور`);

        console.log(err);
      });
  }
};
</script>
