<template>
  <div class="sidebar-com">
    <div class="cont" @click="toggleClass" >
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

    <vs-sidebar position-right :reduce="reduce" :reduce-not-hover-expand="notExpand" parent="body" default-index="1"  color="primary" class="sidebarx" spacer v-model="active">

      <div class="header-sidebar" slot="header">
        <vs-avatar  size="70px" src="https://randomuser.me/api/portraits/men/85.jpg"/>
      </div>
      <vs-sidebar-group open title="Application">
        <vs-sidebar-item index="1" icon="menu" >
         إضافة مادة تعليمية
        </vs-sidebar-item>
        <vs-sidebar-item index="5" icon="verified_user">
          إضافة نظام تعليمية
        </vs-sidebar-item>
        <vs-sidebar-group title="Store">
          <vs-sidebar-item index="2.1" icon="store">
            الأمتحانات
          </vs-sidebar-item>
          <vs-sidebar-item index="2.2" icon="nature_people">
            الأحصائيات
          </vs-sidebar-item>
          <vs-sidebar-item index="2.3" icon="style">
            الأرباح
          </vs-sidebar-item>
        </vs-sidebar-group>
        <vs-sidebar-item index="2" icon="gavel">
          المدرسين
        </vs-sidebar-item>
        <vs-sidebar-item index="3" icon="https">
          المواد التعليمية
        </vs-sidebar-item>
        <vs-sidebar-item index="4" icon="help">
          المساعدة
        </vs-sidebar-item>
      </vs-sidebar-group>


      <vs-divider icon="person" position="left">
        المستخدمين
      </vs-divider>


      <vs-sidebar-item index="6" icon="account_box">
        البيانات
      </vs-sidebar-item>

      <div class="footer-sidebar" slot="footer">
        <vs-button icon="settings" color="primary" type="border"></vs-button>
      </div>

    </vs-sidebar>
  </div>
     
</template>

<script>

export default {
  data:()=>({
    active:false,
    notExpand: false,
    reduce: true
  }),
  methods:{
    toggleClass: function(){
      console.log('toggle')
      this.active=!this.active
       this.notExpand = false
      document.querySelector('.cont').classList.toggle("change");
    }
  }
}
</script>

<style lang="scss">
$right: right;
$left : left;
$dir : rtl;

@if $dir == ltr {
  $right: left;
  $left: right;
}@else{
  $right: right;
$left : left;
}
*{
  direction: $dir;
  text-align: $right;
}


.vuesax-app-is-ltr .vs-sidebar-group h4 i{
  left:10px !important;
  right: auto !important;
}



/* width */
.vs-sidebar--items::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.vs-sidebar--items::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.vs-sidebar--items::-webkit-scrollbar-thumb {
  background: #098BC1; 
}

/* Handle on hover */
.vs-sidebar--items::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.header-sidebar{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
   h4{
     display: flex;
    align-items: center;
    justify-content: center;
    width :100%;
    >button{
          margin-left :10px;
    }
   }
    
}
  
 
.footer-sidebar{
   display :flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  > button{
     border: 0px solid rgba(0,0,0,0) !important;
      border-left :1px solid rgba(0,0,0,.07) !important;
      border-radius: 0px !important;
  }
}
 
  
.cont {
 display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 44px;
    right: 21px;
}

.bar1, .bar2, .bar3 {
      width: 30px;
    height: 3px;
    background-color: #098bc1;
    margin: 6px 0;
    transition: 0.4s;
}



</style>