<template>
  <div>
    <sidebar />
    <div class="wraped">
      <nuxt />
    </div>
    <Footer />

    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
import sidebar from "../components/sidebar";
import Footer from "../components/Footer";

export default {
  components: {
    sidebar,
    Footer
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}
@font-face {
  font-family: "CustomFontBlack";
  src: url("../font/din-next-lt-w23-black.ttf");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("../font/din-next-lt-w23-bold.ttf");
}

@font-face {
  font-family: "CustomFontHeavy";
  src: url("../font/din-next-lt-w23-heavy.ttf");
}

@font-face {
  font-family: "CustomFontLight";
  src: url("../font/din-next-lt-w23-light.ttf");
}

@font-face {
  font-family: "CustomFontMedium";
  src: url("../font/din-next-lt-w23-medium.ttf");
}

@font-face {
  font-family: "CustomFontRegular";
  src: url("../font/din-next-lt-w23-regular.ttf");
}
.vs-popup--header {
  font-family: "CustomFontMedium";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 12px;
  background: #098bc1 !important;
}
.wraped{
  min-height:90vh;
}
.add-subject {
  padding-top: 20px;
 
    .card-header{
        margin-bottom: 33px;
    font-family: "CustomFontMedium";
    color: #ffffff;
    font-size: 20px;
    padding: 10px 22px 0;
    background: #098bc1;
    box-shadow: 0 10px 15px -10px rgba(0,0,0,.05);
    button{
          border: 1px solid #333;
    padding: 3px 10px;
    font-size: 17px;
    background: #fff;
    color: #098bc1;
    outline: none;
    border-radius: 7px;
    transition: all .5s ease;
      &:hover{
        transform: translate(0,-3px);
            box-shadow: 1px 1px 10px -2px #EEE;

      }
    }
    }
  

  input[type="text"],
  input[type="password"],
  input[type="email"],
  .vs--searchable .vs__dropdown-toggle {
    padding: 24px 11px;
    box-shadow: 0px 1px 10px 1px #ddd;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 21px;
  }
  .vs--searchable .vs__dropdown-toggle {
    padding: 8px;
    font-family: "CustomFontRegular";
  }

  .file-choose {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 13px;
    input[type="file"] {
      position: absolute;
      width: 100%;
      /* visibility: hidden; */
      opacity: 0;
      height: 100%;
      cursor: pointer;
      margin-top: 10px;
    }
    span {
      border: 1px dashed #444444;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;
      margin: 10px 0;
      height: 100%;
      text-align: center;
      cursor: pointer;
      border-radius: 15px;
      line-height: 186px;
      color: #444444;
    }
  }

  input[type="submit"].fullWidthBtn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 13px;
    border-radius: 6px;
    border: 0;
    color: #fff;
    background-color: #058ac6;
    font-family: "CustomFontRegular";
  }
  h6 {
    font-family: "CustomFontMedium";
  }
}
.card-cont {
  margin-top: 50px;
      background: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    -webkit-box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.basth-btn-primary {
  display: block;
  width: 100%;
  text-align: center;
  padding: 13px;
  border-radius: 6px;
  border: 0;
  color: #fff;
  background-color: #058ac6;
  font-family: "CustomFontMedium";
  font-size: 18px;
}

* {
  direction: $dir;
  text-align: $left;
}

.product-card {
  .pro-img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    transition: all 0.8s linear;
    transform: translate(0, -2px);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #eee;
  }
  background: #fbfbfb;
    margin-bottom: 26px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    box-shadow: -1px 8px 7px -2px #f3f3f3;
    padding-top: 19px;
    border: 1px solid #ececec;
    border: 2px solid #eee;
    padding: 0;
  .pro-image {
    padding: 0 10px;
    height: 150px;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .pro-desc {
    padding: 30px 10px;
    margin-top: 15px;
    min-height: 110px;
    h6,
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 0;
      font-size: 21px;
      text-align: center;
    }
    p {
      color: #c7c7c7;
      font-size: 12px;
      padding: 0 8px 6px;
    }
  }

  .pro-btns {
    button {
      display: block;
      text-align: center;
      outline: none;
      border: none;
      width: 50%;
      float: $left;
      padding: 10px;
      &:first-of-type {
        background-color: #f54e4ee3;
        color: #ffffff;
      }
      &:last-of-type {
        background-color: #098bc1;
        color: #fff;
      }
    }
  }
}
.carted {
  background: #f85056 !important;
  color: #fff;
}
.fa-trash-alt {
  color: #fff;
}
i.fa-heart.fas {
  color: #f85056;
}
.item a:hover {
  text-decoration: none;
}



.add-subject{
  .vs-card--header {
    h3{
      color: #007bff;
      font-family: "CustomFontRegular";
      margin-bottom: 0;
    }
  }
  .vs-card--content{
    p{
      color:#c7c7c7;
    }
  }
}
</style>
