<template>
   <div class="material">
       <Navbar />
       <div class="container">
           <div class="material-tabs">
               <vs-tabs alignment="left" color="primary">
                    <vs-tab label="الفديوهات">
                        <div class="row">
                            <VideoCard videoBannar="https://i.ibb.co/QjYR3LP/download.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/t8ztNLJ/download-2.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/2vqpZrk/download-3.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/QP1t6xV/download-4.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/DMVDqVc/download-5.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/8cpSNq0/download-6.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/G50PZBT/download-7.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/FwxWXHr/download-8.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/TT8pnq1/download-9.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>
                            <VideoCard videoBannar="https://i.ibb.co/Kwd9Bf6/download-10.png" publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10"/>


                        </div>
                    </vs-tab>
                    <vs-tab label="الملفات">
                        <div class="row">
                            <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                             <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                              <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                               <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                                <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                                 <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                                  <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                                   <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                                    <FilePdf  publisherIcon="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo" videoTitle="أسم الاله تعلم الأعراب بسهولة" videoDesc="درس توضيحي يوضح التكامل بالتجزيئ" videoDate="من قبل خمس ساعات" videoTimer="5:10" />
                        </div>
                    </vs-tab>
                  
                </vs-tabs>

           </div>
       </div>
   </div>
</template>

<script>
import Navbar from '../components/Navbar'
import VideoCard from '../components/material/video'
import FilePdf from '../components/material/FilePdf'


export default {
    components:{
        Navbar,
        VideoCard: VideoCard,
        FilePdf: FilePdf
    }
}
</script>

<style lang="scss">

.material{
    .vs-tabs--li{
        button.vs-tabs--btn{
            outline: none !important;
        }
    } 
    .material-tabs{
            margin-top: 65px;

    }
}
</style>